process {
  executor = 'local'
  maxForks = 2

  withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
    cpus = 1 // Force single-threading
  }
  // Also limit TrimGalore
  withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
  cpus = 1 // TrimGalore uses --cores, this likely sets it to 1
  }
}
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'
